<h1>Sign in with Clef</h1>

<script type='text/javascript' class='clef-button' src='https://clef.io/v3/clef.js' data-app-id='<%= ENV['CLEF_APP_ID'] %>' data-redirect-url='<%= root_url %>auth/clef/callback' data-state='<%= state_parameter %>'></script>

<%= link_to 'Back', users_path %>
