<h1>Sign in with Clef</h1>

<script type='text/javascript' class='clef-button' src='https://clef.io/v2/clef.js' data-app-id='bc7b3e3fa9ac6ad3f97df4bb03a5a0f6' data-redirect-url='http://localhost:3000/auth/clef/callback'></script>

<%= link_to 'Back', users_path %>
